body {
  background-color: rgba(72, 213, 223, 0.452);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  display: flex;
  margin-top: 75px;
  justify-content: center;
}
.segment.about, .segment.profile, .segment.contact {
  width: 900px;
}
.segment{
  max-width: 900px;
}


@media only screen and (max-width: 767px) {
  .App{
    margin-top: 275px;
  }
}
